---
import App from '../components/app.svelte'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/nn.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>frNN - Full Stack developer</title>
	</head>
	<body class="bg-latte-base text-latte-text
				dark:bg-mocha-base dark:text-mocha-text">
		<App />
	</body>
</html>
