---
import Navbar from '../components/navbar.svelte'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/nn.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>frNN - Full Stack developer</title>
	</head>
	<body class="bg-latte-base text-latte-text
				dark:bg-mocha-base dark:text-mocha-text">
		<div class="h-[600px]">
			<Navbar />
			<section class="container mx-auto">
				<slot />
			</section>
		</div>
		<footer class="fixed bottom-0 w-full p-2">
			<p class="text-center text-sm">
				<a href="https://github.com/frNNcs/portofolio">
					<img src="/gh.svg" alt="github icon" class="w-4 h-4 inline" />
					code
				</a>
			</p>
		</footer>
	</body>
</html>
